:root {
    --footer-bar: #1E2C20;
    --card-stroke: #000000;
    --text-color: #292828;
    --bg-color-1: #fb7185;
    --active-nav-hover: #982A1C;
    --accent-text: #B73A2A;
    --card-red: #EA2D2C;
    --card-orange: #FB5108;
    --card-gold: #D29D12;
    --nav-bar-text: #353535;
    --background: #EDEDED;
    --secondary-text: #FFFFFF;
}



/* General */
body {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    color: var(--text-color);
    background-color: var(--background);
}

h1 {
    font-size: 60px;
    font-weight: 700;
    margin: 0;
}

h2 {
    font-size: 36px;
    font-weight: 600;
    margin: 0;
}

h3 {
    font-size: 40px;
    font-weight: 700;
    margin: 0;
}

h4 {
    font-size: 48px;
    font-weight: 400;
    margin: 0;
}

h5 {
    font-size: 20px;
    font-weight: 600;
    margin: 0;
}

.body-text-24 {
    font-size: 24px;
}

.body-text-20 {
    font-size: 20px;
}

.body-text-18 {
    font-size: 18px;
}

.body-text-18-semi {
    font-size: 18px;
    font-weight: 600;
}

.disp-center {
    display: flex;
    justify-content: center;
}

.content-margins {
    margin-right: 159px;
    margin-left: 116px;
}

.text-align-center {
    text-align: center;
}

.space-between {
    display: flex;
    justify-content: space-between;
}

.no-curve {
    border-radius: 0;
}
/* Navbar CSS */
.pot-icon {
    background-color: var(--accent-text);
    border-radius: 5px;
    padding: 7px 1.1875rem;
}

.nav-item a {
    color: var(--text-color);
}

.nav-item a:hover {
    color: var(--card-orange)!important;
    text-decoration: underline;
}

.margin-x-23{
    margin: 0 23px;
}

.icon-margin{
    margin: 24px 0 32px 113px;
}

.nav-con-margin{
    margin-right: 192px;
}

.red-color-text{
    color: var(--accent-text)!important;
}

.secondary-text-color {
    color: var(--secondary-text);
}
/* Navbar End */

/* Hero Img CSS */
.hero-img {
    height: 1067px;
    background-image: url(../asset/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.hero-img h4{
    text-align: center;
    background-color: rgb(24, 24, 24, 0.8);
    color: var(--secondary-text);
    width: 545px;
    padding: 25.2px 32px;
    position: relative;
    top:893px; left: 113px;
}

/* Hero Img End */

/* Sales Bar CSS */
.sales-bar {
    background-color: var(--footer-bar);
    display:flex;
    justify-content: center;
    color: var(--secondary-text);
}

.sales-bar p {
    margin: 31.5px 0;
}
/* Sales Bar End */

/* Start Cooking CSS */
.section-header-grid {
    display: grid;
    grid-template-columns: repeat(3, auto);
}

.section-header-grid h1 {
    grid-column: 2 / span 1;
    text-align: center;
    margin: 111px 0 53px;
}

.start-cooking-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    column-gap: 47px;
}

.start-cooking-cards {
    grid-column: span 1;
    width: 379px;
    height: 402px;
}

.start-cooking-cards img {
    height: 347px;
    width: 376px;
    object-fit: cover;
    border-radius: 10px;;
}
/* Start Cooking End */

/* New Arrival */
.new-arrival-header{
    margin: 116px 0 54px;
}

.new-arrival-card {
    height: 831px;
    width: 805px;
}

.new-arrival-card img {
    width: 805px;
    height: 632px;
    object-fit: cover;
}
/* New Arrivals End */

/* Best Seller CSS */
.best-seller-header {
    margin: 85px 0 50px;
}

.best-seller-img-box {
    width: 449px;
    height: 338px;
}

.best-seller-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.p-14 {
    padding: 0 25px
}

.p-39 {
    padding: 0 51px;
}

.pe-42 {
    padding-right: 42px;
}
/* Best Seller End */

/* Review CSS */
.reviews-header {
    margin: 131px 0 53px;
}

.reviews-hero-box-1{
    background-image: url(../asset/Reviews1.jpg);
    border-radius: 10px;
    height: 664.751px;
    width: 531px;
    background-repeat: no-repeat;
    background-size: cover;
}

.reviews-hero-box-2{
    background-image: url(../asset/Reviews2.jpg);
    border-radius: 10px;
    height: 664.751px;
    width: 531px;
    background-repeat: no-repeat;
    background-size: cover;
}

.reviews-hero-box-3{
    background-image: url(../asset/Reviews3.jpg);
    border-radius: 10px;
    height: 664.751px;
    width: 531px;
    background-repeat: no-repeat;
    background-size: cover;
}

.reviews-card-grey-box {
    border-radius: 10px;
    background: rgba(18, 18, 18, 0.60);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    height: 345px;
    padding: 73px 28px;
    color: var(--secondary-text);
}

.reviews-grey-box-width{
    width: 80.414%; 
}

.reviews-grey-box-width p{
    line-height: 22px;
}
/* Review End */

/* Footer CSS */
.footer-bg {
    margin-top: 118px;
    background-color: var(--footer-bar);
    width: 100%;
}

.footer-pad {
    padding: 92px 0 74px;
}

.footer-content p {
    margin: 0 0 14px;
}

.footer-content ul {
    padding-left: 100px;
}

.footer-content input {
    width: 240px;
    height: 42px;
    border: 0;
    padding: 0;
}

.footer-content button {
    color: var(--secondary-text);
    background-color: transparent;
    border-radius: 1px;
    border-color: #FFFFFF;
    height: 42px;
    width: 155px;
    padding: 0;
}

.max-width-405 {
    max-width: 405px;
}
/* Footer End */